{% extends 'main/base.html' %}

{% block title %}About{% endblock %}


{% load crispy_forms_tags %}

{% block content %}
<center><h1>About</h1></center>


<p>
Welcome to our clothing exchange project! We are a group of students who are passionate about sustainability and reducing textile waste. Our goal is to create a community where people can exchange clothing items with one another, saving money and reducing waste at the same time.
</p>
<p>
Our project was inspired by the growing problem of textile waste in the fashion industry. We wanted to create a solution that would help people reduce their environmental impact while also saving money. By exchanging clothes with others, we can give our clothes a second life and reduce the amount of waste that ends up in landfills.
</p>
<p>
Our project has evolved over time as we’ve learned more about the fashion industry and the impact it has on the environment. We’ve worked hard to create a platform that is easy to use and accessible to everyone.
</p>
<p>
We believe that everyone can make a difference when it comes to sustainability. By joining our community, you’ll be part of a movement that is making a positive impact on the environment. You’ll also have the opportunity to meet new people who share your values and discover new styles and trends.
</p>
<p>
Thank you for visiting our website! We hope you’ll join us in our mission to create a more sustainable future.
</p>


{% if not feedback and user.is_authenticated %}
	<center><h3>Leave a Feedback:</h3>
	<form method="post" action='/feedback/"/' class="form-group">
		{% csrf_token %}
		<textarea name="message" rows="8" cols="50" const placeholder="Preservation and improvement: Click to edit"></textarea>
		<br><input type="submit" class="btn btn-success">
	</form></center>
{% else %}
	<center><h4>Your message was delivered</h4>
			Thank you for your feedback!<br><br>
	</center>
{% endif %}

{% endblock %}