{% load static %}

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<title>{% block title %}Rewear{% endblock %}</title>
		<style>{% block style %}{% endblock %}</style>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>

	<div id = "content", name = "content">
		<div class="row justify-content-center">
			<div class="col-8">
				
			<center>
					<header class="main-header">
						<h1 class="header-name header-name-large">Rewear</h1>
						<nav class="nav main-nav">
							<ul>
								<li><a href="/">Home</a></li>
								
								<li><a href="/search_page/">Search</a></li>

								<li><a href="/about/">About</a></li>

								{% if user.is_authenticated and user.is_superuser %}

									<li><a href="/submissions/">Submissions
									<div style="display: inline-block;">
										<div style="border-radius: 50%; width: 10px; height: 10px; padding: 2px; border: solid; border-color: red;"></div>
									</div>
									</a></li>

									<li><a href="/admin/">Administration</a></li>

								{% elif user.is_authenticated and user.is_active%}
								<li><a href="/profile/">My Profile</a></li>
								{% endif %}
							</ul>
						</nav>
					</header>
			</center>

			{% if user.is_authenticated %}
			<p style="text-align:left;">
				<td><left>Hello {{request.user.username}}</left></td>
				<span style="float:right;">
					<td><right><a href="/logout">Logout</a></right></td>
				</span>
			</p>
			{% endif %}
				
				{% block content %}
				{% endblock %}
				
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	
	</body>
</html>