{% load static %}
<style>
	* {
	font-size: 20px;
	}
	nav li a {
	text-transform: uppercase;
	font-weight: bold;
	}
	.header-photo-wrapper {
        position: absolute;
        top: 50%;
 		transform: translateX(+350%);
        transition: transform 0.2s ease;
    }
    .header-photo-wrapper:hover {
        top: 50%;
        transform: translateX(+350%) scale(1.2);
    }
    .header-name {
        text-align: center;
        position: relative;
        max-width: 100%;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		
		<title>{% block title %}Rewear{% endblock %}</title>
		<style>{% block style %}{% endblock %}</style>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	</head>
	<body>

	<div id = "content", name = "content">
		<div class="row justify-content-center">
			<div class="col-12">
					<header class="main-header">
<!--						<h1 class="header-name header-name-large">Rewear</h1>-->

<!--						<h1 class="header-name header-name-large" style="text-align: center; position: relative;">Rewear-->
<!--							<img src="{% static 'media/logout.png' %}" alt="logout" class="header-photo" width="50" height="50" style="position: absolute; top: 50%; transform: translateX(+350%);">-->
<!--						</h1>-->
						<h1 class="header-name header-name-large" style="text-align: center; position: relative;">Rewear
							{% if user.is_authenticated %}
							<span class="header-photo-wrapper">
								<a href="/logout"><img src="{% static 'media/logout.png' %}" alt="logout" class="header-photo" width="50" height="50"></a>
							</span>
							{% endif %}
						</h1>

						<nav class="nav main-nav">
							<ul>
								<li><a href="/">Home</a></li>

								{% if user.is_authenticated %}
									<li><a href="/search_page/">Search</a></li>

									<li><a href="/my_events/{{request.user.id}}">My Events</a></li>
								{% endif %}

								{% if user.groups.all.0.name == 'eventManager' or user.groups.all.1.name == 'eventManager' %}
									<li><a href="/managed_events/{{request.user.id}}">Managed Events</a></li>
								{% endif %}

								<li><a href="/about/">About</a></li>

								{% if user.is_authenticated and user.is_superuser %}

									<li><a href="/submissions/">Submissions
									<!--<div style="display: inline-block;">
										<div style="border-radius: 50%; width: 10px; height: 10px; padding: 2px; border: solid; border-color: red;"></div>
									</div>-->
									</a></li>

									<li><a href="/admin/">Administration</a></li>

								{% elif user.is_authenticated and user.is_active%}
								<li><a href="/profile/">My Profile</a></li>
								{% endif %}
							</ul>
						</nav>
					</header>

			{% if user.is_authenticated %}
			<p style="text-align:left;margin:15px;">
				<td><left>Hello {{request.user.username}}</left></td>
<!--				<span style="float:right;">-->
<!--					<td><right><a href="/logout">Logout</a></right></td>-->
<!--				</span>-->
				<span style="float:right;">
					{% if new_mail %}
						<a href="/inbox" style="text-decoration:none">
							<img src='{% static "media/new_mail.png" %}' alt="inbox" height=40px width=40px>&nbsp;
						</a>
					{% else %}
						<a href="/inbox" style="text-decoration:none">
							<img src='{% static "media/mail_icon.png" %}' alt="inbox" height=40px width=40px>&nbsp;
						</a>
					{% endif %}
				</span>
			</p>
			<p>
<!--				<span style="float:right;">-->
<!--					{% if new_mail %}-->
<!--						<a href="/inbox" style="text-decoration:none">-->
<!--							<img src='{% static "media/new_mail.png" %}' alt="inbox" height=40px width=40px>&nbsp;-->
<!--						</a>-->
<!--					{% else %}-->
<!--						<a href="/inbox" style="text-decoration:none">-->
<!--							<img src='{% static "media/mail_icon.png" %}' alt="inbox" height=40px width=40px>&nbsp;-->
<!--						</a>-->
<!--					{% endif %}-->
<!--				</span>-->
			</p>
			{% endif %}

				{% block content %}
				{% endblock %}
				
			</div>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	</body>
</html>