{% extends 'main/base.html' %}

{% block style %}
	img {
		border-radius: 10%;
		border: 2px solid #3880fa;
		object-fit: cover;
	}

	table {
    	table-layout: fixed;
    	width: 800px;
	}
	td {
		vertical-align: top;
	}
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<center><h1>Home</h1></center>

{% if not user.is_authenticated %}
	<a href="/login/"><p>Login</p></a>
	<p>Not registered yet? <a href="/signup/">Sign up</a></p>
{% endif %}

<center>

	<p>
		Become a part of a growing community!
	</p>

	<table>
		<tr>
			<td><center>
				<img src='{% static "\\media\\home_pics\\1.jpg" %}' alt="Avatar" height=180px width=180px>
			</center></td>

			<td><center>
				<img src='{% static "\\media\\home_pics\\2.jpeg" %}' alt="Avatar" height=180px width=180px>
			</center></td>

			<td><center>
				<img src='{% static "\\media\\home_pics\\3.jpeg" %}' alt="Avatar" height=180px width=180px>
			</center></td>

			<td><center>
				<img src='{% static "\\media\\home_pics\\4.jpeg" %}' alt="Avatar" height=180px width=180px>
			</center></td>
		</tr>

		<tr>
			<td>
				<center><b>Recycle:</b></center>
					<ul>
						<li>1st bulletpoint</li>
						<li>2nd bulletpoint</li>
						<li>3rd bulletpoint</li>
						<li>4th bulletpoint</li>
						<li>5th bulletpoint</li>
					</ul>
			</td>

			<td>
				<center><b>Save money:</b></center>
					<ul>
						<li>1st bulletpoint</li>
						<li>2nd bulletpoint</li>
						<li>3rd bulletpoint</li>
						<li>4th bulletpoint</li>
						<li>5th bulletpoint</li>
					</ul>
			</td>

			<td>
				<center><b>Join the community:</b></center>
					<ul>
						<li>1st bulletpoint</li>
						<li>2nd bulletpoint</li>
						<li>3rd bulletpoint</li>
						<li>4th bulletpoint</li>
						<li>5th bulletpoint</li>
					</ul>
			</td>

			<td>
				<center><b>Get new clothing items:</b></center>
					<ul>
						<li>1st bulletpoint</li>
						<li>2nd bulletpoint</li>
						<li>3rd bulletpoint</li>
						<li>4th bulletpoint</li>
						<li>5th bulletpoint</li>
					</ul>
			</td>
		</tr>
	</table>

<br />

<form method="post" action='/search/'>
	{% csrf_token %}
	<select name="city" id="city-select" onchange="updateAddressOptions()">
		<option value="All">All cities</option>
		{% for market in markets %}
		<option value="{{market.city}}" data-address="{{market.address}}">{{market.city}}</option>
		{% endfor %}
	</select>
	<select name="address" id="address-select" onchange="updateCityOptions()">
		<option value="All">All addresses</option>
			{% for market in markets %}
				<option value="{{market.address}}" data-city="{{market.city}}">{{market.address}}</option>
			{% endfor %}
	</select>
	<input type="submit" value="Search">
</form>

<script>
function updateAddressOptions() {
  var citySelect = document.getElementsByName("city")[0];
  var addressSelect = document.getElementById("address-select");
  var selectedCity = citySelect.value;

  for (var i = 0; i < addressSelect.options.length; i++) {
    var option = addressSelect.options[i];
    if (selectedCity === "All" || option.getAttribute("data-city") === selectedCity || option.value === "All") {
      option.style.display = "";
    } else {
      option.style.display = "none";
    }
  }
}
</script>

<script>
function updateCityOptions() {
  var addressSelect = document.getElementsByName("address")[0];
  var citySelect = document.getElementById("city-select");
  var selectedAddress = addressSelect.value;

  for (var i = 0; i < citySelect.options.length; i++) {
    var option = citySelect.options[i];
    if (selectedAddress === "All" || option.getAttribute("data-address") === selectedAddress || option.value === "All") {
      option.style.display = "";
    } else {
      option.style.display = "none";
    }
  }
}
</script>

<br />

		<table>
			<tr>
				<th>
					Market Name
				</th>
				<th>
					City
				</th>
				<th>
					Address
				</th>
				<th>
					Zip
				</th>
				<th>
					Link
				</th>
			{% for market in search %}
			<tr>
				<td>
					{{market.name}}
				</td>
				<td>
					{{market.city}}
				</td>
				<td>
					{{market.address}}
				</td>
				<td>
					{{market.zip}}
				</td>
				<td>
					<a href="/market/{{market.id}}/">{{market.name}}</a>
				</td>

			</tr>
			{% endfor %}
		</table>

</center>

{% endblock %}