{% extends 'main/base.html' %}

{% block style %}

.mail {
	margin: 0 0 10px;
	width: 50%;
	text-align: left;
}

{% endblock %}

{% block content %}
  <center><h2>Inbox</h2>

    <a href="/send_message/"><h5><b>Send a message</b></h5></a>

  {% if messages %}
    <ul class="mail">
      {% for message in messages reversed %}
        <li{% if not message.is_read %} style="font-weight: bold;"{% endif %}>
          <a href="/message_detail/{{message.id}}">
            {% if not message.is_read %}
              <big><b>{{ message.subject }}</b></big>
            {% else %}
              {{ message.subject }}
            {% endif %}
          </a>
          {% if not message.is_read %}
            from <a href="/profile/{{ message.sender.username }}">{{ message.sender.username }}</a> on {{ message.created_at }}
          {% else %}
            <small>from <a href="/profile/{{ message.sender.username }}">{{ message.sender.username }}</a> on {{ message.created_at }}</small>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No messages.</p></center>
  {% endif %}
{% endblock %}
