{% extends 'main/base.html' %}

{% block content %}
  <h2>Inbox</h2>
  <center>
    <a href="/send_message/"><h5><b>Send a message</b></h5></a>
  </center>
  {% if messages %}
    <ul>
      {% for message in messages reversed %}
        <li{% if not message.is_read %} style="font-weight: bold;"{% endif %}>
          <a href="/message_detail/{{message.id}}">
            {% if not message.is_read %}
              <big><b>{{ message.subject }}</b></big>
            {% else %}
              {{ message.subject }}
            {% endif %}
          </a>
          {% if not message.is_read %}
            from {{ message.sender.username }} on {{ message.created_at }}
          {% else %}
            <small>from {{ message.sender.username }} on {{ message.created_at }}</small>
          {% endif %}
<!--      {% if not message.is_read %}<small> &emsp; - unread </small>{% endif %}-->
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No messages.</p>
  {% endif %}
{% endblock %}
