{% extends 'main/base.html' %}

{% block title %}Managed Events{% endblock %}

{% block style %}
	table {
    	table-layout: fixed;
    	width: 800px;
	}
	td {
		vertical-align: top;
	}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<center><h1>Managed Events</h1>

<form method="post" action='/search/'>
	{% csrf_token %}
	<select name="city" id="city-select" onchange="updateAddressOptions()">
		<option value="All">All cities</option>
		{% for market in markets %}
		<option value="{{market.city}}" data-address="{{market.address}}">{{market.city}}</option>
		{% endfor %}
	</select>
	<select name="address" id="address-select" onchange="updateCityOptions()">
		<option value="All">All addresses</option>
			{% for market in markets %}
				<option value="{{market.address}}" data-city="{{market.city}}">{{market.address}}</option>
			{% endfor %}
	</select>
	<input type="submit" value="Search">
</form>

<script>
function updateAddressOptions() {
  var citySelect = document.getElementsByName("city")[0];
  var addressSelect = document.getElementById("address-select");
  var selectedCity = citySelect.value;

  for (var i = 0; i < addressSelect.options.length; i++) {
    var option = addressSelect.options[i];
    if (selectedCity === "All" || option.getAttribute("data-city") === selectedCity || option.value === "All") {
      option.style.display = "";
    } else {
      option.style.display = "none";
    }
  }
}
</script>

<script>
function updateCityOptions() {
  var addressSelect = document.getElementsByName("address")[0];
  var citySelect = document.getElementById("city-select");
  var selectedAddress = addressSelect.value;

  for (var i = 0; i < citySelect.options.length; i++) {
    var option = citySelect.options[i];
    if (selectedAddress === "All" || option.getAttribute("data-address") === selectedAddress || option.value === "All") {
      option.style.display = "";
    } else {
      option.style.display = "none";
    }
  }
}
</script>

<br />

		<table>
			<tr>
				<th>
					Market Name
				</th>
				<th>
					City
				</th>
				<th>
					Address
				</th>
				<th>
					Market Manager
				</th>
				<th>
					Date
				</th>
<!--				<th>-->
<!--					Link-->
<!--				</th>-->
			{% for market in markets %}
			<tr>
				<td>
<!--					{{market.name}}-->
					<a href="/market_page/{{market.id}}/">{{market.name}}</a>
				</td>
				<td>
					{{market.city}}
				</td>
				<td>
					{{market.address}}
				</td>
				<td>
					{{market.market_manager}}
				</td>
				<td>
					{{market.date}}
				</td>
<!--				<td>-->
<!--					<a href="/market_page/{{market.id}}/">{{market.name}}</a>-->
<!--				</td>-->

			</tr>
			{% endfor %}
		</table>

</center>

{% endblock %}