{% extends 'main/base.html' %}
{% block title %}Market Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if user.is_authenticated %}

<center><h1>Market Page</h1></center>
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<img src="{{market.picture.url}}" width="100%" height="auto">
		</div>
		<div class="col-md-6">
			<h3>{{market.name}}</h3>
			<p>{{market.location}}</p>
			<p>{{market.description}}</p>
		</div>
	</div>
</div>

{% else %}

<br />

<p>Please sign <a href="/login/">login</a> in order to view this content.</p>
<p>Not registered yet? <a href="/signup/">Sign up</a></p>

{% endif %}


{% endblock %}