{% extends 'main/base.html' %}
{% block title %}Market Page{% endblock %}
{% load crispy_forms_tags %}

{% block style %}
table.admin {
  border-collapse: separate;
  border-spacing: 10px;
}
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<center>
	<h1>Market Page</h1>
	<h3>{{market.name}}</h3>
	<table class="admin">
	<tr>
		{% if market.market_manager %}
		<td><b>
			Market manager: <a href="/profile/{{market.market_manager}}">{{market.market_manager}}</a>
		</b></td>
	{% endif %}


	{% if market.market_manager and user.is_superuser %}
		<td><form method="POST" action="/remove_manager/{{market.id}}/" class="form-group">
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-danger btn-sm">✗</button>
        </form></td>
	{% endif %}
		</tr>

	{% if market.market_manager == user.username %}
		<tr>
			<a href="/attending_users/{{market.id}}/">View Attending Users</a>
		</tr>
	{% endif %}

</table>
</center>

{% if user.is_authenticated and not user.is_superuser and market.market_manager == "" %}
<br /><form method="post" action='/submit_request/{{request.user.id}}/{{market.id}}/'>
{% csrf_token %}
<!--To submit a request to become event manager click-->
	<center><input type="submit" value="REQUEST TO BECOME EVENT MANAGER" class="btn btn-info btn-sm"></center>
</form>
{% endif %}

<center><table>
	{% if market.market_manager == user.username %}
	<tr><td>
		<form method="post" action='/delete_market/{{market.id}}/'>
			{% csrf_token %}
			<input type="submit" value="Delete Market" class="btn btn-danger">
		</form></td>
	{% endif %}
	</td>

	{% if user.is_authenticated and not sign_event %}
	<td>
		<form method="post" action='/sign_event/{{request.user.id}}/{{market.id}}/'>
			{% csrf_token %}
			<input type="submit" value="Register to event" class="btn btn-primary">
		</form>
	</tr></td>

</table></center>


	{% else %}
	</table>
	<h4>Thank you for signing to our event.</h4>
	We will see you there!
	</center>
{% endif %}

	<table class="table table-striped">
	  <thead>
		<tr>
			<th>City</th>
			<th>Address</th>
			<th>Facebook</th>
			<th>Description</th>
			<th>Date</th>
			<th>Status</th>
			<th>Rating</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
			<td>{{market.city}}</td>
			<td>{{market.address}}</td>
			<td><a href="http://www.facebook.com/">Facebook Link</a></td>
			<td>{{market.description}}</td>
			<td>{{market.date}}</td>
			<td>{{market.status}}</td>
			<td>{{market.rating}}</td>
		</tr>
		{% if market.market_manager == user.username %}
			<tr>
				<br/>
				<form method="post" action='/set_market_value/{{market.id}}/'class="form-group">
					{% csrf_token %}
					<input type="hidden" name="" value="">
					<td><a>Shirt </a><input type="number" name="shirt" min="0" max="50" step="1" value="{{market.shirt}}" ></td>
					<td><a>Pants </a><input type="number" name="pants" min="0" max="50" step="1" value="{{market.pants}}" ></td>
					<td><a>Shoes </a><input type="number" name="shoes" min="0" max="50" step="1" value="{{market.shoes}}"></td>
					<td><a>Hat </a><input type="number" name="hat" min="0" max="50" step="1" value="{{market.hat}}" ></td>
					<td><a>Gloves </a><input type="number" name="gloves" min="0" max="50" step="1" value="{{market.gloves}}"></td>
					<td><a>Scarf </a><input type="number" name="scarf" min="0" max="50" step="1" value="{{market.scarf}}"></td>
					<td><a>Jacket </a><input type="number" name="jacket" min="0" max="50" step="1" value="{{market.jacket}}"></td>
					<br> <br>
					<tr style="background: transparent;"><td></td><td></td><td></td>
						<td>
								<input value="Set custom items amount" type="submit" class="btn btn-warning">
						</td><td></td><td></td><td></td>
					</tr>

				</form>
			</tr>
		{% else %}
			<tr>
				<br/>
				<td>{{market.shirt}} shirts</td>
				<td>{{market.pants}} pants</td>
				<td>{{market.shoes}} shoes</td>
				<td>{{market.hat}} hats</td>
				<td>{{market.gloves}} gloves</td>
				<td>{{market.scarf}} scarfs</td>
				<td>{{market.jacket}} jackets</td>
			</tr>
	  	{% endif %}
	  </tbody>
	</table>
    <br>
    {% if market.market_manager == user.username %}

    <form method="POST" action="/facebook_page/{{market.id}}/" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary resize-button" value="Facebook Post">Facebook Post</button>
    </form>

    <style>
        .resize-button {
            width: 175px; /* Set the desired width /
            height: 65px; / Set the desired height /
            / Add any additional styles as needed */
        }
    </style>

    {% endif %}
	<br>

	{% if user.is_authenticated and sign_event %}
	<center>

		{% if sign_event %}
		<h3>Items you bring to the market</h3>
		<form method="post" action='/edit_items_market/{{market.id}}/'class="form-group">
		{% csrf_token %}
		<input type="hidden" name="" value="">
		<a>Shirt </a><input type="number" name="shirt" min="0" max="50" step="1" value="{{ my_event.shirt }}" >
		<a>Pants </a><input type="number" name="pants" min="0" max="50" step="1" value="{{ my_event.pants }}" >
		<a>Shoes </a><input type="number" name="shoes" min="0" max="50" step="1" value="{{ my_event.shoes }}">
		<a>Hat </a><input type="number" name="hat" min="0" max="50" step="1" value="{{ my_event.hat }}" >
		<a>Gloves </a><input type="number" name="gloves" min="0" max="50" step="1" value="{{ my_event.gloves }}">
		<a>Scarf </a><input type="number" name="scarf" min="0" max="50" step="1" value="{{ my_event.scarf }}">
		<a>Jacket </a><input type="number" name="jacket" min="0" max="50" step="1" value="{{ my_event.jacket }}">
		<br> <br>
		<input value="Save Change Items" type="submit" class="btn btn-success">
		</form>
		{% endif %}

	</center>
	{% endif %}

<br> <br>


{% if market.google_location != '' and market.google_location != "null" %}
<center>
	<iframe src="{{market.google_location}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</center>
<br><br>
{% endif %}

{% else %}


<p>Please sign <a href="/login/">login</a> in order to view this content.</p>
<p>Not registered yet? <a href="/signup/">Sign up</a></p>

{% endif %}
{% if not feedback and user.is_authenticated and market.market_manager != '' %}
	<center><h3>Leave a Feedback:</h3>
	<form method="post" action='/feedback/{{market.name}}/' class="form-group">
		{% csrf_token %}
		<textarea name="message" rows="8" cols="50" maxlength="1000" const placeholder="Preservation and improvement: Click to edit"></textarea>
		<br><input type="submit" class="btn btn-success">
	</form></center>
{% elif market.market_manager != '' %}
	<center><h4>Your message was delivered</h4>
			Thank you for your feedback!<br><br>
	</center>
{% endif %}

{% endblock %}
