{% extends 'main/base.html' %}

{% block style %}

.details {
	margin: 0 0 10px;
	width: 50%;
	text-align: left;
    overflow-wrap: break-word;
}

{% endblock %}

{% block content %}
<center>
  <h2 class="details">{{ message.subject }}</h2>
  <p class="details">From: <a href="/profile/{{ message.sender.username }}">{{ message.sender.username }}</a></p>
  <p class="details">To: <a href="/profile/{{ message.recipient.username }}">{{ message.recipient.username }}</a></p>
  <div class="details"><p>{{ message.body | linebreaks}}</p></div>

  <br />
  <a href="/send_message/{{message.sender.username}}/">Reply</a>
</center>
{% endblock %}
