{% extends 'main/base.html' %}

{% block title %}My Profile{% endblock %}

{% block style %}
	.profimg {
		border-radius: 50%;
		border: 2px solid #3880fa;
		object-fit: cover;
	}
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<center><h1>My Profile</h1></center>

{% if not user.is_authenticated %}
	<p>Not logged into any account.</p>
	<a href="/login/"><p>Login</p></a>
	
{% else %}
	{% if profile_pic %}
	<center>
		<img src="{% static pic_path %}" alt="Avatar" height=180px width=180px class="profimg">
<!--		<img src='{% static profile_pic.path %}' alt="Avatar" height=180px width=180px class="profimg">-->
	</center>
	{% else %}

<form method="POST" enctype="multipart/form-data" action="/update_profilepic/">
  {% csrf_token %}
  <div class="input-group" style="width: 30%;">
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="picture" name="picture" required>
      <label class="custom-file-label" for="picture">Profile Picture</label>
    </div>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Update Profile Picture</button>
    </div>
  </div>
</form>
	{% endif %}
<!--move it to right-->

	<td align="right"><a href="/edit_profile/">edit profile</a></td>

	<table>
		<tr>
			<td>Username:&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.username}}</td>
		</tr>
		<tr>
			<td>Email address:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.email}}</td>
		</tr>
		{% if user.first_name %}
		<tr>
			<td>First Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.first_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if user.last_name %}
		<tr>
			<td>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{user.last_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if profileinfo.phone %}
		<tr>
			<td>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{profileinfo.phone}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>User type:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				{% if cur_user.groups.all.0.name == "eventManager" or cur_user.groups.all.1.name == "eventManager" %}
				Event Manager
				{% else %}
				Buyer
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>About me:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><a href="/editabout/">edit</a><td>
		<tr>
			<td></td>
			<td>{{profileinfo.about|linebreaks}}<td>
		</tr>

	</table>

	
	<br><br><br>
<center>
	{% if user.is_active %}
	<p>Account is active</p>
	
	<form method="POST" action="/areyousure/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button class="btn btn-warning">Make my account inactive</button>
	</form>
	
	{% else %}
	<p>Account is inactive</p>
	
	<form method="POST" action="/active/" class="form-group">
		{% csrf_token %}
		{{form|crispy}}
		<button type="submit" class="btn btn-warning">Make my account active</button>
	</form>
	
	{% endif %}
</center>
	
{% endif %}

{% endblock %}%}