{% extends 'main/base.html' %}

{% block title %}{{cur_user}}'s Profile{% endblock %}

{% block style %}
	.profimg {
		border-radius: 50%;
		border: 2px solid #3880fa;
		object-fit: cover;
	}
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<center><h1>{{profileinfo}}'s Profile</h1></center>

{% if not user.is_authenticated %}
	<p>Not logged into any account.</p>
	<a href="/login/"><p>Login</p></a>
	
{% else %}
	{% if profile_pic %}
	<center>
		<br>
		<img src='{% static profile_pic %}' alt="Avatar" height=180px width=180px class="profimg">
	</center>
	{% endif %}
	<table>
		<tr>
			<td>Username:&nbsp;&nbsp;&nbsp;</td>
			<td>{{profileinfo}}</td>
		</tr>
		<tr>
			<td>Email address:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{cur_user.email}} &nbsp; <a href="/send_message/{{cur_user.username}}">send message</a></td>
		</tr>
		{% if cur_user.first_name %}
		<tr>
			<td>First Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{cur_user.first_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if cur_user.last_name %}
		<tr>
			<td>Last Name:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{cur_user.last_name.capitalize}}</td>
		</tr>
		{% endif %}
		{% if profileinfo.phone %}
		<tr>
			<td>Phone number:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>{{profileinfo.phone}}</td>
		</tr>
		{% endif %}
		<tr>
			<td>User type:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				{% if cur_user.groups.get.name.capitalize == 'Eventmanager' %}
				Event Manager
				{% else %}
				{{cur_user.groups.get.name.capitalize}}
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>About me:&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td><td>
		<tr>
			<td></td>
			<td>{{profileinfo.about|linebreaks}}<td>
		</tr>
		
	</table>
	
{% endif %}

{% endblock %}%}