{% extends 'main/base.html' %}

{% block style %}
    table, th, td {
        padding: 10px;
    }
{% endblock %}

{% block title %}Submissions{% endblock %}


{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated and user.is_superuser %}
<center>
    <h1>Submissions</h1>
    <table>
    {% for sub in subs %}
        <tr>
            <td>
                USERNAME: <a href="/profile/{{sub.1}}/">{{ sub.1 }}</a>
            </td>
            <td>
                MARKET ID: <a href="/market_page/{{sub.0}}/">{{ sub.0 }}</a>
            </td>
            <td>
                <form method="POST" action="/assign_manager/{{sub.0}}/{{sub.1}}/" class="form-group">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-success btn-sm">✓</button>
                </form>
            </td>
            <td>
                <form method="POST" action="/delete_sub/{{sub.0}}/{{sub.1}}/" class="form-group">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button class="btn btn-danger btn-sm">✗</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>
</center>
{% endif %}
{% endblock %}