{% extends 'main/base.html' %}

{% block title %}Sign Up{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<center><h1>Sign Up</h1>
	
<form method="POST" action="/signup/" class="form-group" enctype="multipart/form-data" style="width:30%;">
  {% csrf_token %}
  {{ form|crispy }}
  {{ user_form.username|as_crispy_field }}
  {{ user_form.first_name|as_crispy_field }}
  {{ user_form.last_name|as_crispy_field }}
  {{ user_form.email|as_crispy_field }}
  {{ profile_form.phone|as_crispy_field }}
  {{ user_form.password|as_crispy_field }}
  {{ user_form.password_confirm|as_crispy_field }}
  {{ profile_form.userType|as_crispy_field }}

  <div class="input-group">
    <div class="custom-file">
      {{ profile_form.picture}}
      <label class="custom-file-label" for="picture">Profile Picture</label>
    </div>
  </div>
  <br>
  <div class="input-group" style="width: 30%;">
    <button type="submit" class="btn btn-primary" value="Sign Up">Sign Up</button>
  </div>
</form>


</center>
{% endblock %}