{% extends 'rewear_app/base.html' %}
{% load static %}
{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>

<body>
    <div class ='jumbotron' >
        {% if user.is_authenticated %}
            <h1>thanks for register</h1>
            <p>you are now logged in</p>
        {% else %}
            <h1>Register</h1>
            <p>please fill out the form below</p>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                {% csrf_token %}
<!--                    <label for="username">Username</label>-->
<!--                    <input type="text" class="form-control" id="username" placeholder="Username">-->
                </div>
                <div class="form-group">
                {{ user_form.as_p }}
<!--                    <label for="email">Email</label>-->
<!--                    <input type="email" class="form-control" id="email" placeholder="Email">-->
                </div>
                <div class="form-group">
                {{ profile_form.as_p }}
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password" class="form-control" id="password" placeholder="Password">-->
                </div>
<!--                <div class="form-group">-->
<!--                    <label for="password2">Confirm Password</label>-->
<!--                    <input type="password" class="form-control" id="password2" placeholder="Confirm Password">-->
<!--                </div>-->
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
{% endblock %}